# /etc/caddy/Caddyfile

dirtbikechina.com {
	redir https://www.dirtbikechina.com
}

##
## wordpress

www.dirtbikechina.com {
	reverse_proxy wordpress:80
	# reverse_proxy dirtbikechina-wordpress-1:80
}
admin.www.dirtbikechina.com {
	basic_auth {
		{$CADDY_PROXY_ADMIN} {$CADDY_PROXY_PASSWORD}
	}
	reverse_proxy phpmyadmin:80
}

##
## discourse
## caddy to nginx reverse_proxy reverse_proxy

forum.dirtbikechina.com {
	reverse_proxy unix//sock/nginx.http.sock
}

##
## wanderer

trails.dirtbikechina.com {
	reverse_proxy svelte:3000
}
admin.trails.dirtbikechina.com {
	basic_auth {
		{$CADDY_PROXY_ADMIN} {$CADDY_PROXY_PASSWORD}
	}
	reverse_proxy pocketbase:8090
}

##
## logto

auth.dirtbikechina.com {
	reverse_proxy logto:3001
}
admin.auth.dirtbikechina.com {
	reverse_proxy logto:3002
}
